@font-face {
    font-family: 'Hero New';
    src: url('HeroNew-RegularItalic.eot');
    src: url('HeroNew-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('HeroNew-RegularItalic.woff2') format('woff2'),
        url('HeroNew-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hero New';
    src: url('HeroNew-Bold.eot');
    src: url('HeroNew-Bold.eot?#iefix') format('embedded-opentype'),
        url('HeroNew-Bold.woff2') format('woff2'),
        url('HeroNew-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hero New';
    src: url('HeroNew-BoldItalic.eot');
    src: url('HeroNew-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('HeroNew-BoldItalic.woff2') format('woff2'),
        url('HeroNew-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hero New';
    src: url('HeroNew-Regular.eot');
    src: url('HeroNew-Regular.eot?#iefix') format('embedded-opentype'),
        url('HeroNew-Regular.woff2') format('woff2'),
        url('HeroNew-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

