.afk-header-nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    flex: auto;

    a.nav-item {
        text-decoration: none;
        margin-left: $space;
        color: $color_1;
        display: inline-block;
        background-color: $color_9;
        padding: 10px 30px;
        border-radius: 30px;
        font-size: 20px;
    }

}