html {
    height: 100%;
}

html,
body {
    margin: 0 !important;
    padding: 0;
    scroll-padding-top: 0;
    overflow-x: hidden;
}


html#afBranbrox-site {
    margin-top: 0!important;
    
    h1,h2,h3,h4,h5,h6 {
        margin: 0px;
    }

    body {
        display: flex;
        flex-direction: column;
        height: 100%;

        .afb-site-header,
        .afb-footer {
            display: flex;
            flex: 0 0 auto;
        }

        .afb-content {
            display: flex;
            flex: 1 0 auto;
            flex-direction: column;
        }
    }
}

.drop-shadow {
    box-shadow: 3px 4px 19px -6px rgba(0,0,0,0.59);
    -webkit-box-shadow: 3px 4px 19px -6px rgba(0,0,0,0.59);
    -moz-box-shadow: 3px 4px 19px -6px rgba(0,0,0,0.59);
}
