.afb-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo {
        padding: $space;
        width: 280px;

        @media (min-width: $media-desktop) {
            width: 220px;
            padding: $space * 4;
        }
    }

    button {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;

        img {
            height: 20px;
            width: auto;
            margin-left: $space / 2;

            @media (min-width: $media-desktop) {
                height: 30px;
                margin-left: $space / 3;
            }
        }
    }

    .footer-button {
        padding: $space / 3 $space / 2;
        background: #fff;
        font-size: 18px;
        margin-top: $space;
        box-shadow: -3px 3px 28px 1px rgba(0,0,0,0.39);
        -webkit-box-shadow: -3px 3px 28px 1px rgba(0,0,0,0.39);
        -moz-box-shadow: -3px 3px 28px 1px rgba(0,0,0,0.39);
        border-radius: 30px;
        transition: background-color ease-in-out 350ms;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        @media (min-width: $media-desktop) {
            font-size: $h6-font-size;
            margin-top: $space * 3;
            padding: $space / 3 $space;
        }

        &:hover {
            background-color: $color_14;
            cursor: pointer;
        }
    }
}