.icon-section-heading {
    font-size: $h4-font-size;
    text-align: center;
    width: 100%;
    margin-top: $space;
    margin-bottom: $space;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    img {
        max-width: 70px;
        max-height: 70px;
        margin-right: $space / 2;
    }

    @media (min-width: $media-desktop) {
        font-size: $h2-font-size;
        margin-top: $space * 2;
        margin-bottom: 0;

        img {
            max-width: 50px;
            max-height: 50px;
            margin-right: $space / 2;
        }
    } 
}