.afb-site-header {
    background-color: #fff;
    padding: $space / 2 0;

    @media (min-width: $media-tablet) {
        
    }

    @media (min-width: $media-desktop) {
        padding: $space 0;
    }

    .afb-header-logo {
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
        }
    
        @media (min-width: $media-desktop) {
            width: 277px;
            height: 67px;
        }
    }

    .afk-header-nav {
        display: none;
    
        @media (min-width: $media-desktop) {
            display: flex;
        }
    }

}