.block-style-7 {
    background-color: $color_6;
    color: #fff;
    padding-bottom: $space * 2;;

    .icon-section-heading {
        margin-bottom: $space * 2;
    }

    .row {
        display: flex;
        flex-direction: column;
        margin-bottom: $space;

        @media (min-width: $media-desktop) {
            flex-direction: row;
        }

        &:last-child {
            margin-bottom: 0;
        }

        .row-item {
            flex: 0 0 50%;

            &.text {
                background-color: $color_15;
                flex-basis: 55%;
                text-align: center;

                .content {
                    margin: $space;
                    @media (min-width: $media-desktop) {
                        margin: $space $space  $space $space * 3;
                    }

                    p {
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                } 
            }

            &.image {
                background-color: #fff;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex-shrink: 1;
                padding: $space;

                @media (min-width: $media-desktop) {
                    padding: 0;
                    align-items: flex-end;
                }

                .circle-img {
                    width: 120px; 
                    height: 120px;
                    border-radius: 50%;
                    background-color: #fff;
                    border: 2px solid #fff;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: contain;

                    @media (min-width: $media-desktop)  {
                        width: 180px; 
                        height: 180px;
                        position: absolute;
                        right: -90px;
                    }
                }
            }
        }

        &.sage {

            flex-direction: column-reverse;

            @media (min-width: $media-desktop){
                flex-direction: row;
            }
            .row-item {
                &.text {
                    flex-basis: 55%;
                    @media (min-width: $media-desktop) {
                        text-align: right;
                    }

                    .content {
                        margin: $space;
                        @media (min-width: $media-desktop) {
                            margin: $space $space * 3 $space  $space;
                        }
                    }
                }

                &.image {
                    
                    align-items: center;
                    flex-shrink: 1;

                    @media (min-width: $media-desktop){
                        align-items: flex-start;
                    }
                    .circle-img {
                        left: -90px;
                    }
                }
            }

        }
    }
}