
.block-style-1 {
    padding: $space 0;
    color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: $media-desktop) {
        padding: $space*2 0;
    }

    .circle-image  {
        display: none;

        @media (min-width: $media-desktop) {

        }

        @media (min-width: $media-desktop-large) {
            display: block;
            border-radius: 50%;
            width: 420px;
            height: 420px;
            background-color: #fff;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;  
        }

        @media (min-width: $media-desktop-xlarge) {
            @media (min-width: $media-desktop) {
                width: 520px;
                height: 520px;
            }  
        }
    }
    
    .content {
        &.circle {
            flex: 0 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    
        &.text {
            display: flex;
            margin-left: 0;
            flex-basis: 100%;
            flex-direction: column;
            justify-content: center;

            @media (min-width: $media-desktop) {
                margin-left: $space*3;
                flex-basis: 700px;
            }

            .content-title {
                display: flex;
                flex-direction: row;
                align-items: center;
                line-height: normal;

                .content-title-icon {
                    width: 35px;
                    height: auto;
                    margin-right: $space/2;
        
                    img {
                        width: 100%;
                    }

                    @media (min-width: $media-desktop) {
                        width: 48px;
                        height: 60px;
                    }
                }
            }
        }
    } 
}
