.slider-style-1 {
    padding: $space 0;
    text-align: center;

    @media (min-width: $media-desktop) {
        padding: $space* 3 0;
    }

    .slider-nav {
        margin: $space / 2 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;

        @media (min-width: $media-tablet) {
            margin: $space auto;
            flex-direction: row;
        }

        @media (min-width: $media-desktop) {
            margin: $space * 2 auto;
        }

        .nav-item {
            background-color: $color_9;
            padding: 10px $space;
            border-bottom: $color_8 2px solid;
            transition: background-color ease-in-out 350ms;

            @media (min-width: $media-tablet) {
                border-bottom: $color_8 3px solid;
            }

            @media (min-width: $media-desktop) {
                padding: $space/1.5 $space;
            }

            &:hover {
                cursor: pointer;
                background-color: $color_8;
                color: #fff;
            }

            &.active {
                background-color: $color_8;
                color: #fff;
            }

            &.hero{
                &:hover,
                &.active  {
                    background-color: $color_8; 
                }
            }

            &.sage {
                &:hover,
                &.active {
                    background-color: $color_1; 
                }
            }

            &.everyman {
                &:hover,
                &.active {
                    background-color: $color_11; 
                }
            }
        }
    }

    .afb-slide {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: auto;

        @media (min-width: $media-desktop) {
            width: 1090px;
            max-width: 1090px;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .afb-slide-item {

            &.image-1,
            &.image-2 {
                width: 100%;
                height: 150px;

                @media (min-width: $media-desktop) {
                    flex: 1 0 50%; 
                    height: 260px;
                }
            }

            &.image-1 {
                border-top-left-radius: 40px;
                border-top-right-radius: 40px;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;

                @media (min-width: $media-desktop) {
                    border-top-right-radius: 0px;
                }
            }
            &.image-2 {
                border-top-right-radius: 0px;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;

                @media (min-width: $media-desktop) {
                    border-top-right-radius: 40px;
                }
            }

            &.text {
                border-bottom-left-radius: 40px;
                border-bottom-right-radius: 40px;
                border-top: none;
                border-bottom: 4px solid $color_14;
                border-left: 4px solid $color_14;
                border-right: 4px solid $color_14;

                @media (min-width: $media-desktop) {
                    flex: 1 0 1083px;
                    min-height: 400px;
                }
            }
        }

        .afb-slide-row {
            padding: $space / 2 $space / 2 0 $space / 2;
            text-align: left;
            display: flex;
            flex-direction: column;

            @media (min-width: $media-desktop) {
                padding: 0 $space * 2 $space * 2 $space * 2;
                flex-direction: row;
            }

            &:first-child {
                @media (min-width: $media-desktop) {
                    padding: $space * 2;
                }
            }

            .slide-row-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;


                .slide-icon-sections {
                    width: 100%;
                    margin-bottom: $space;

                    @media (min-width: $media-desktop) {
                        margin-right: $space * 2;
                        white-space: nowrap;
                        width: 385px;
                        margin-bottom: 0;
                    }

                    .section {
                        display: flex;
                        flex-direction: row;
                        padding-bottom: 10px;
                        padding-top: 10px;
                        border-bottom: 3px solid $color_14;

                        @media (min-width: $media-desktop) {
                            padding-bottom: $space / 2;
                            padding-top: $space / 2;
                        }

                        &.heading {
                            color: $color_8;
                            padding-bottom: $space / 2;
                            padding-top: 0;
                            @media (min-width: $media-desktop) {
                                padding-bottom: $space;
                            }
                        }
                        &.icon-text {
                            font-size: 18px;
                            @media (min-width: $media-desktop) {
                                font-size: 21px;
                            }
                            img {
                                max-height: 26px;
                                height: 26px;
                                width: auto;
                                margin-right: $space / 2;
                            }
                        }

                        &:last-child {
                            padding-bottom: 0;
                            border-bottom: none;
                        }
                    }
                }

                &.blurb {
                    font-size: 16px;
                    line-height: normal;
                    letter-spacing: normal;

                    @media (min-width: $media-desktop) {
                        font-size: 21px;
                    }
                }

                &.panel {
                    align-items: flex-start;
                    justify-content: flex-start;
                    background-color: $color_8;
                    margin-right: 0;
                    margin-bottom: $space / 2;
                    color: #fff;
                    padding: $space / 2;
                    border-radius: 15px;

                    @media (min-width: $media-desktop) {
                        margin-right: $space / 3;
                        margin-bottom: 0;
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    .panel-heading {
                        margin-bottom: $space / 3;
                        white-space: nowrap;
                        word-break: keep-all;
                    }
                }
            }
        }

        &.sage {
            .afb-slide-row {
                .panel {
                    background-color: $color_1;
                }

                .slide-icon-sections {
                    .section.heading {
                        color: $color_1;
                    }
                }

            }
        }

        &.everyman {
            .afb-slide-row {
                .panel {
                    background-color: $color_11;
                }

                .slide-icon-sections {
                    .section.heading {
                        color: $color_11;
                    }
                }
            }
        }
    }
}