.block-style-5 {
    background-color: $color_4;
    color: #fff;
    padding-bottom: $space;
    text-align: center;

    @media (min-width: $media-desktop) {
        padding-bottom: $space * 3;
        margin-right: $space / 2;
        text-align: left;
    }

    .mobile-image {
        width: 300px;
        max-width: 300px;
        margin: auto;
        

        @media (min-width: $media-desktop) {
            display: none;
        }
    }


    p a {
        text-decoration: underline;
        font-weight: bold;
        color: #fff;
    }

    .hear-item {
        flex: 0 0 32%;
        margin-right: 0;
        
        @media (min-width: $media-desktop) {
            margin-right: $space / 2;
        }

        &:nth-child(3n) {
            margin-right: 0;
        }

        img {
            width: 100%;
        }

        &.image {
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            max-height: 550px;
        }
    }

    .hear-blocks {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
        @media (min-width: $media-desktop) {
            margin-top: $space * 2;
            flex-direction: row;
        }
    }
}