.block-style-8 {
    background-color: $color_7;
    color: $color_4;

    .block-style-col {
        &.hero {
            .image-wrapper {
                height: 400px;
                @media (min-width: $media-desktop) {
                    height: 984px;
                }

                .img-clip-mask {
                    width: 500px;
                    height: 500px;
                    bottom: 0px;
                    left: 15px;

                    @media (min-width: $media-desktop) {
                        width: 1000px;
                        height: 1000px;
                        bottom: 57px;
                        left: -294px;
                    }
                }
            }
        }

        &.sage {
            flex-direction: column-reverse;

            @media (min-width: $media-desktop) {
                flex-direction: column;
            }
            .image-wrapper {
                height: 400px;
                @media (min-width: $media-desktop) {
                    height: 700px;
                }
                .img-clip-mask {
                    width: 512px;
                    height: 512px;
                    top: -115px;
                    left: -45px;
                    @media (min-width: $media-desktop)  {
                        width: 840px;
                        height: 840px;
                        top: 15px;
                        left: -111px; 
                    }
                }
            }
        }

        &.everyman {
            .image-wrapper {
                height: 400px;
                @media (min-width: $media-desktop)  {
                    height: 779px;  
                }

                .img-clip-mask {
                    width: 600px;
                    height: 600px;
                    top: -199px;
                    left: -82px;
                    @media (min-width: $media-desktop) {
                        width: 900px;
                        height: 900px;
                        top: -102px;
                        left: -261px;
                    }
                }
            }

            .text-block {
                padding-top: $space * 2;
            }
        }
    }
}