$senses-block-size: 184;

.block-style-2 {
    padding: $space 0;

    @media (min-width: $media-desktop) {
        padding: $space*2 0;
    }

    .container {
        justify-content: center;
        align-items: center;

        &.flex-h {
            flex-direction: column;
            @media (min-width: $media-tablet) {
                flex-direction: row;
            }
        }
    }

    .senses-blocks {
        width: 300px;
        height: 150px;
        max-height: 184px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: $space;

        @media (min-width: $media-tablet) { 
            margin-right: $space;
            margin-bottom: 0;
            
        }

        @media (min-width: $media-desktop) {
            margin-right: $space * 2;
            width: 368px;
            max-width: 368px;
            height: 184px;
        }

        .block-wrapper {
            display: flex;
            flex: 1 0 auto;
            flex-direction: row;
            flex-wrap: wrap;
        }
        
        .block {
            width: 50%;
            height: 50%;
            background-color: $color_3;
            flex: 0 0 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-width: 35px;
                max-height: 35px;

                @media (min-width: $media-desktop) {
                    max-width: 50px;
                    max-height: 50px;
                }
            }

            &.big {
                height: 100%;
                img {
                    width: 50%;
                    max-width: none;
                    max-height: none;
                }
            }

            &.no-1 {
                background-color: $color_3;
            }
            &.no-2 {
                background-color: $color_4;
            }
            &.no-3 {
                background-color: $color_5;
            }
            &.no-4 {
                background-color: $color_6;
            }
            &.no-5 {
                background-color: $color_7;
            }

        }
    
    }

    .content {
        &.text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;

            @media (min-width: $media-desktop) {
                width: 500px;
            }

            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}