$placeholderWidth: 590px;

.block-style-3 {
    position: relative;

    .placeholder {
        width: $placeholderWidth;
        height: 20px;
        margin-right: $space * 2;
        display: none;

        @media (min-width: $media-desktop) {
            display: block;
        }
    }

    .archetype-wheel {
        &.show-only-mobile {
            position: static;
            width: 100%;
            display: flex;
            flex-direction: column;
            vertical-align: middle;
            align-items: center;

            img {
                width: 350px;
            }
        }
    }

    .panel {
        padding: 0 0 $space 0;
        z-index: 1;

        &.bottom {
            padding: $space / 2 0;
            background: linear-gradient(0deg, rgba(2,5,10,1) 0%, rgba(18,77,85,1) 100%);
            color: #fff;

            @media (min-width: $media-desktop) {
                
                padding: $space 0;
            }
        }

        .content {
            position: relative;

            .archetype-wheel {
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
                right: $space * 2;
                bottom: 0;
                overflow: visible;

                img {
                    width: 100%;
                }
            }
        }

    }

}