@import './layout-block-style-1';
@import './layout-block-style-2';
@import './layout-block-style-3';
@import './layout-block-style-4';
@import './layout-block-style-5';
@import './layout-block-style-6';
@import './layout-block-style-7';
@import './layout-block-style-8';
@import './layout-slider-style-1';

.container {
    width: 87%;
    margin: auto;

    @media (min-width: $media-desktop) {
        width: 1100px;
    }

    @media (min-width: $media-desktop-large) {
        width: 1200px;
    }

    @media (min-width: $media-desktop-xlarge) {
        width: 1400px;
    }
}

.content-wrapper {
    width: 100%;
}

.flex-h {
    display: flex;
    flex-direction: column;

    @media (min-width: $media-desktop) {
        flex-direction: row; 
    }
}

.flex-v {
    display: flex;
    flex-direction: column;

    div {
        flex: auto
    }
}

.full-width {
    width: 100%;
    flex-basis: 100%;
}

.show-only-mobile {
    display: block;

    @media (min-width: $media-desktop) {
        display: none !important;
    }
}

.show-only-desktop {
    display: none !important;
    @media (min-width: $media-desktop) {
        display: block !important; 
    }
} 
