.block-style-6,
.block-style-8 {
    background-color: $color_5;
    color: #fff;

    .block-style-col {
        flex: 1 1 32%;
        display: flex;
        flex-direction: column;

        .icon-section-heading {
            flex: 0 0 auto;
            margin-bottom: $space;
        }


        .text-block {
            padding: $space;

            .title {
                margin-bottom: $space/2;
            }
        }

        .image-wrapper {
            height: 600px;
            overflow: hidden;
            position: relative;

            .img-clip-mask {
                width: 800px;
                height: 800px;
                border-radius: 50%;
                position: absolute;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        &.hero {

            .text-block {
                padding-top: 0;
            }

            .image-wrapper {
                height: 400px;
                @media (min-width: $media-desktop) {
                    height: 760px;
                }
                
                .img-clip-mask {
                    width: 850px;
                    height: 850px;
                    bottom: 16px;
                    left: -190px;
                }
            }
        }


        &.sage {

            .image-wrapper {
                height: 400px;

                @media (min-width: $media-desktop) {
                    height: 600px;
                    padding-top: 20px;
                }

                .img-clip-mask {
                    width: 800px;
                    height: 800px;
                    top: 0px;
                    left: -160px;
                }
            }
        }
        &.everyman {
            .image-wrapper {
                height: 400px;

                @media (min-width: $media-desktop) {
                    height: 695px;
                    padding-top: 20px;
                }

                .img-clip-mask {
                    width: 590px;
                    height: 590px;
                    top: 108px;
                    left: -160px;
                }
            }
        }


    }
}