.block-style-4 {
    background-color: $color_3;
    color: #fff;
    display: flex;
    flex-direction: column;

    @media (min-width: $media-desktop) {
        height: 700px;
    }
    
    @media (min-width: $media-desktop-xlarge) {
        height: 1150px;
    }


    .container {
        flex: auto;
        // width: 90%;

        &.flex-h {
            flex-direction: column;
            @media (min-width: $media-desktop) {
                flex-direction: row;
                // width: 87%;
            }
        }
    }


    .strip {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;

        @media (min-width: $media-desktop-xlarge) {
            flex: 1 1 33%;
        }

        &.hero {
            background: linear-gradient(0deg, rgba(9,30,47,1) 0%, rgba(7,20,37,1) 100%);
            justify-content: flex-end;
        }

        &.sage {
            background: linear-gradient(180deg, rgba(9,30,47,1) 0%, rgba(7,20,37,1) 100%);
            justify-content: flex-start;
        }

        &.everyman {
            background: linear-gradient(0deg, rgba(9,30,47,1) 0%, rgba(7,20,37,1) 100%);
            justify-content: flex-end;
        }

        .text-block {
            text-align: center;
            font-size: 18px;
            line-height: normal;
            background-size: 0;
            background-repeat: no-repeat;
            background-position: bottom center;
            width: 300px;
            margin: auto;

            @media (min-width: $media-desktop-large) {
                background-size: cover;
                margin-bottom: $space;
                margin-top: $space / 2;
                padding: 133px $space;
            }
            

            @media (min-width: $media-desktop-xlarge) {
                width: 350px;

                background-size: contain;
                background-position: center center;
                //padding: $space * 4 $space * 2;
                margin-bottom: $space * 3;
            }

            .heading {
                margin-bottom: $space / 2;
                font-size: $default-font-size;
            }

            .video-block {
                margin: $space auto;
                width: 100%;

                @media (min-width: $media-desktop-large) {
                    margin: 10px auto 0 auto;
                    width: 200px;
                    height: 100px;
                }

                @media (min-width: $media-desktop-xlarge) {
                    margin: $space auto 0 auto;
                    width: 240px;
                    height: 140px;
                }

                video#heroVideo,
                video#sageVideo,
                video#everymanVideo {
                    width: 100% !important;
                }
            }
        }
    }
}