// @import './fonts/stylesheet.css';
@font-face {
    font-family: 'Hero New';
    src: url('./fonts/HeroNew-RegularItalic.eot');
    src: url('./fonts/HeroNew-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/HeroNew-RegularItalic.woff2') format('woff2'),
        url('./fonts/HeroNew-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hero New';
    src: url('./fonts/HeroNew-Bold.eot');
    src: url('./fonts/HeroNew-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/HeroNew-Bold.woff2') format('woff2'),
        url('./fonts/HeroNew-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hero New';
    src: url('./fonts/HeroNew-BoldItalic.eot');
    src: url('./fonts/HeroNew-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/HeroNew-BoldItalic.woff2') format('woff2'),
        url('./fonts/HeroNew-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hero New';
    src: url('./fonts/HeroNew-Regular.eot');
    src: url('./fonts/HeroNew-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/HeroNew-Regular.woff2') format('woff2'),
        url('./fonts/HeroNew-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


html,
body {
    font-family: 'Hero New', Arial, Helvetica, sans-serif;
    color: $color_1;
    font-size: 18px;
    line-height: normal;
    -webkit-font-smoothing: antialiased;

    @media (min-width: $media-desktop) {
        font-size: 24px;
        line-height: 34px;
    }
}

p {
    strong {
        color: $color_2;
    }
}

.content-title {
    font-size: 35px;

    @media (min-width: $media-desktop) {
        font-size: 51px;
        line-height: normal;
    }
}

.font-bold {
    font-weight: bold;
}

.font-italic {
    font-style: italic;
}

.font-small {
    font-size: 18px;
    @media (min-width: $media-desktop) {
        font-size: $font-small;
    }
}

.p {
    font-size: $font-small;
    @media (min-width: $media-desktop-large) {
        font-size: $default-font-size;
    }
}

h2,
.h2 {
    font-size: $h4-font-size;
    @media (min-width: $media-desktop) {
        font-size: $h2-font-size;
    }
}

h3,
.h3 {
    font-size: $h3-font-size; 
}

h4,
.h4 {
    font-size: $h4-font-size; 
}

h5,
.h5 {
    font-size: $h5-font-size; 
}

h6,
.h6 {
    font-size: $h6-font-size; 
}

.color_2 {
    color: $color_2;
}

.color_8 {
    color: $color_8;
}

.color_11 {
    color: $color_11;
}