$color_1: #124b54; // Text colour
$color_2: #2dbed9;
$color_3: #071425;
$color_4: #103140;
$color_5: #3e7369;
$color_6: #a3a580;
$color_7: #f1f1d7;
$color_8: #f15a23;
$color_9: #f5f5f5;
$color_10: #0a1d2c;
$color_11: #f69522;
$color_12: #10424d;
$color_13: #33685e;
$color_14: #e6e7e9;
$color_15: #b2b391;

$space: 40px;

$font-small: 21px;
$default-font-size: 24px;
$h2-font-size: 51px;
$h3-font-size: 47px;
$h4-font-size: 37px;
$h5-font-size: 30px;
$h6-font-size: 27px;

$media-tablet: 767px;
$media-desktop: 1024px;
$media-desktop-large: 1280px;
$media-desktop-xlarge: 1600px;